<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-8 border bg-light shadow-sm" style="border-radius:5px ;">
      <h1 class="text-center">My Calculator App Using DI</h1>
      <div class="container mt-2">
        <div class="row text-center">
          <div class="col-3 border hovs" >
            <span>7</span>
          </div>
          <div class="col-3 border hovs">
            <span>8</span>
          </div>
          <div class="col-3 border hovs">
            <span>9</span>
          </div>
          <div class="col-3 border hovs">
            <span>4</span>
          </div>
          <div class="col-3 border hovs">
            <span>5</span>
          </div>
          <div class="col-3 border hovs">
            <span>6</span>
          </div>
          <div class="col-3 border hovs">
            <span>1</span>
          </div>
          <div class="col-3 border hovs">
            <span>2</span>
          </div>
          <div class="col-3 border hovs">
            <span>3</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>