<!-- <label for="number">Enter your number</label>
<input type="text" class="form-control" [formControl]="number">
<button class="btn btn-secondary" (click)="updateNumber()"> Update</button>
<p>{{number}}</p>

<form [formGroup]="userForm">
  <label for="firstName">Enter your First Name</label>
  <input type="text" class="form-control" formControlName="firstName">

  <label for="lastName">Enter your last Name</label>
  <input type="text" class="form-control" formControlName="lastName">

  <label for="email">Enter your email</label>
  <input type="email" class="form-control" formControlName="email">

  <label for="password">Enter your Password</label>
  <input type="password" class="form-control" formControlName="password">

  <label for="confirmPassword">Confirm Password</label>
  <input type="confirmPassword" class="form-control" formControlName="confirmPassword">

  <label for="Number">Enter your Number</label>
  <input type="number" class="form-control" formControlName="Number">
2
  <label for="lastName">Enter your last Name</label>
  <input type="text" class="form-control" formControlName="lastName">

  <label for="lastName">Enter your last Name</label>
  <input type="text" class="form-control" formControlName="lastName">

  <button class="btn btn-secondary" (click)="updateNumber()" [disabled]="!userForm.valid"> Update</button>
  <button class="btn btn-secondary"> Update</button>
</form>                                                                                            / -->